# Virtual environment
venv/
env/

# Python cache files
__pycache__/
*.pyc

# Dataset and database files
dataset_cache/
images_data/
image_vdb/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db