body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
}
.profile
{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
form {
  text-align: center;
  margin-top: 20px;
}
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60%;
  margin-right: 10px;
}
input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

.container {
width: 80%;
margin: 0 auto;
padding: 20px;
}


table {
border-collapse: collapse;
margin-top: 20px;
width: 100%;
}

th, td {
padding: 10px;
text-align: left;
}

th {
background-color: #008CBA;
color: white;
}

tr:nth-child(even) {
background-color: #f2f2f2;
}

tr:hover {
background-color: #ddd;
}